﻿@model Produto
@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "Cadastro de Produtos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("CadastrarProduto", "Cadastro", FormMethod.Post))
{
    <div style="display:grid; width:50%">
        @Html.Label("Produto")
        @Html.TextBoxFor(a => a.Nome)
        @Html.ValidationMessageFor(x => x.Nome)

        @Html.Label("Categoria")
        @Html.TextBoxFor(a => a.Categoria)
        @Html.ValidationMessageFor(x => x.Categoria)

        @Html.Label("Preço")
        @Html.TextBoxFor(a => a.Valor, new {@class = "money"})
        @Html.ValidationMessageFor(x => x.Valor)

        @Html.Label("Descrição")
        @Html.TextAreaFor(a => a.Descricao, new { style = "Resize:none; overflow: hidden;height: 160%" })
        @Html.ValidationMessageFor(x => x.Descricao)

        <button type="submit" style="margin-top: 10%; width:25%">Salvar  </button>


        @* <button type="submit" style="margin-top: 10%; width:25%">Cancelar  </button>*@
    </div>
}
<form action="/Home/Index" method="get">
    <input type="submit" value="Cancelar" id="frm1_submit" style="width:12.5%" />
</form>





