﻿@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "Projeto Estoque";
}
   
    <div>       
        <div class="divTable">
            <h3>Resumo Estoque</h3>
            <table id="tg-xQLBb" class="tg">
                <thead>
                    <tr>
                        <th class="tg-ul38">Código</th>
                        <th class="tg-ul38">Produto</th>
                        <th class="tg-ul38">Categoria</th>
                        <th class="tg-ul38">Valor</th>
                        <th class="tg-ul38">Estoque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-0lax">1</td>
                        <td class="tg-0lax">2</td>
                        <td class="tg-0lax">3</td>
                        <td class="tg-0lax">4</td>
                        <td class="tg-0lax">5</td>
                    </tr>
                    <tr>
                        <td class="tg-0lax">5</td>
                        <td class="tg-0lax">4</td>
                        <td class="tg-0lax">3</td>
                        <td class="tg-0lax">2</td>
                        <td class="tg-0lax">1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
