﻿@model Usuario
@{
    ViewData["Title"] = "Login Usuário";
}
<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Logar", "Login", FormMethod.Post))
{
<div>
    @Html.Label("Email")
    @Html.TextBoxFor(a => a.email)
    @Html.ValidationMessageFor(x => x.email)
    @Html.Label("Senha")
    @Html.TextBoxFor(a => a.Senha)
    @Html.ValidationMessageFor(x => x.Senha)
    <button type="submit"><i class="glyphicon glyphicon-user"></i></button>
</div>
    

}